@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
}

/* 0 - Valores Default */

a{
    font-family: 'Work Sans', sans-serif;
    color:black;
    text-decoration:none;
    transition: border 0.5s,
}

button{
    background-color:transparent;
    font-family: 'Work Sans', sans-serif;
    border:none;
    cursor:pointer;
}

/* 1 - General */

body{
    background-color:#f5f3f0;
}

header{
    background-color:#f5f3f0;
    font-family: 'Work Sans', sans-serif;
    width:100%;
    margin: 0 auto;
    padding: 1em 0;
    text-transform:uppercase;
    display:flex;
    justify-content:space-between;
    position:fixed;
    z-index:10;
}

nav{
    padding-top:0.5em;
    margin-right:0.5em;
}

img{
    border-radius:1.5em;
}

/* 2 - Subcontenedores */

nav a{
    font-size:0.9rem;
}

.hero img{
    width:37em;
}

.hero h1{
    text-transform:uppercase;
    font-family: 'Work Sans', sans-serif;
    font-size:8.3rem;
}

.hero h3{
    text-transform:uppercase;
    font-family: 'Work Sans', sans-serif;
    font-size:1.6rem;
    font-weight:500;
    padding: 0.5em 1em;
    border:2px solid #CAC8C6;
    border-radius:2em;
    margin-right:9.6em;
    transition: background-color 0.5s,
                border 0.5s,
                color 0.5s;
}

.hero p{
    font-family: 'Work Sans', sans-serif;
    font-size:1.1rem;
    line-height:1.3em;
    color:#656464;
    width:20em;
}

.exploreMore p{
    color:#656464;
    font-size:1rem;
    font-family: 'Work Sans', sans-serif;
    transform:rotate(270deg);
    padding-bottom:0.3em;
}

.storyContent img, .skillsImage{
    width: 36em;
}

.storyContent h2{
    margin-bottom: 2em;
}

.storyContent h3{
    font-size:1.3rem;
    margin-top:0.5em;
    margin-bottom:3em;
    text-transform:uppercase;
}

.story p{
    color:#CDCBCB;
    line-height:2em;
    margin-bottom:2em;
}

.story button{
    padding: 1em 2em;
    background-color: #CDCBCB;
    border: 2px solid transparent;
    border-radius: 2em;
    transition: background-color 0.5s,
                border 0.5s,
                color 0.5s,
                transform 0.5s;
}

.contenedorPhrase h2{
    color:#f5f3f0;
    font-size:2rem;
}

/* .contenedorPhrase h5{
    color:#CDCBCB;
    font-size:0.9rem;
    position:relative;
    top:3.8em;
    right:11em;
} */

.contenedorWorkflow h3{
    font-size:1.5rem;
    color:#CDCBCB;
    text-transform:uppercase;
}

.contenedorWorkflow img{
    width:10em;
    margin-top:2em;
    margin-left:0.5em;
}

.pasos hr{
    border:1px solid #656464;
    width:50em;
    margin-top:2.5em;
    margin-bottom:2.5em;
}

.paso p{
    font-family: 'Work Sans', sans-serif;
    font-weight:900;
    font-size:1.5rem;
    margin-right:1em;
    color:#656464;
}

.paso h2{
    font-size:1.3rem;
    margin-top:0.1em;
    color:#CDCBCB;
    text-transform:uppercase;
    letter-spacing:0.1rem;
}

.projects h4{
    font-family: 'Work Sans', sans-serif;
    color:#232121;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:5em;
}

.project1 img, .project2 img{
    width:35em;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.project1 img{
    border-top: 3px solid #656464;
    border-left: 3px solid #656464;
}

.project2 img{
    border-top: 3px solid #CDCBCB;
    border-right: 3px solid #CDCBCB;
}

.project1 h2, .project2 h2{
    font-family:'Work Sans', sans-serif;
    font-weight:400;
    text-transform:uppercase;
    margin-bottom:0.5em;
}

.project1 h2{
    color:#f5f3f0;
}

.project2 h2{
    color:#232121;
}

.project1 h3, .project2 h3{
    font-family:'Work Sans', sans-serif;
    font-weight:400;
    text-transform:uppercase;
    margin-bottom:1em;
}

.project1 h3{
    color:#CDCBCB;
}

.project2 h3{
    color:#232121;
}

.project1 p, .project2 p{
    font-family: 'Montserrat', sans-serif;
    font-size:0.9rem;
    font-weight:400;
}

.project1 p{
    color:#CDCBCB;
    margin-bottom:1.8em;
}

.project2 p{
    color:#232121;
    margin-bottom:1.5em;
}

.project1 a{
    color:#f5f3f0;
}

.project1 .bi-arrow-right, .project1 .bi-arrow-down-short{
    color:#CDCBCB;
}

.skillsPrograms img{
    width:5em;
    border-radius:0;
}

.skillsPrograms h3, .skillsPrograms h4{
    font-family:'Work Sans',sans-serif;
    text-transform:uppercase;
}

.skillsPrograms h3{
    padding-bottom:1em;
}

.program p{
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    color:#656464;
    font-weight:900;
    padding-left:1.5em;
}

.skillsAdicional p{
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    color:#656464;
    font-weight:900;
    padding-bottom:1.7em;
}

.skills button{
    padding: 1em 2em;
    background-color: #f5f3f0;
    border: 2px solid #CDCBCB;
    border-radius: 2em;
    transition: background-color 0.5s,
                border 0.5s;
}

.contactsContent h4{
    font-family: 'Work Sans', sans-serif;
    text-transform:uppercase;
    padding-bottom:4em;
}

.contactLinks a{
    font-size:2rem;
    margin:0 2.2em;
    transition: text-shadow 0.5s;
}

.footerContent p{
    font-family: 'Work Sans', sans-serif;
    color:#656464;
}

/* 3 - Pseudoclases */

.link-menu:hover{
    border:2px solid #CAC8C6;
    border-radius:2em;
}

.link-menu-done:hover{
    border:2px solid transparent;
    border-radius:2em;
}

.hero h3:hover{
    background-color:#232121;
    border:2px solid #232121;
    color:#f5f3f0;
}

.story button:hover{
    background-color:#232121;
    border: 2px solid #CDCBCB;
    color: #CDCBCB;
    transform: scale(1.1);
}

.project1 a:hover, .project2 a:hover{
    text-decoration:underline;
}

.contactLinks a:hover{
    text-shadow: 0 1px 2px black;
}

.skills button:hover{
    background-color:#CDCBCB;
    border: 2px solid #CDCBCB;
}

.finalLink:hover{
    background-color:#232121;
    border:1px solid #232121;
    color:#CDCBCB;
}

/* 4 - Clases */

.hidden{
    display:none;
}

.link-menu{
    margin: 0 0.4em;
    padding: 0.7em 1.4em;
    border: 2px solid transparent;
    border-radius:2em;
    transition: border 0.2s,
                border-radius 0.2s;
}

.link-menu-done{
    margin: 0 0.4em;
    padding: 0.7em 1.4em;
    border:2px solid #CAC8C6;
    border-radius:2em;
    transition: border 0.2s,
                border-radius 0.2s;
}

.nombre{
    width:5em;
    font-weight:900;
    margin-left:1.5em;
}

.burger{
    display:none;
}

.hero{
    padding-top:7em;
    padding-bottom:12em;
    width:85%;
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

.heroh3{
    display:flex;
    justify-content:flex-end;
}

.heroIntro{
    margin-top:1.2em;
    margin-left:0.5em;
    display:flex;
}

.heroContent{
    padding-top:6em;
}

.heroP{
    margin-right:5em;
}

.exploreMore{
    padding-top:5em;
}

.exploreArrow{
    font-size:1.4rem;
    color: #656464;
    margin-top:1.8em;
}

.myStory, .phrase, .workflow{
    background-color: #232121;
    font-family: 'Montserrat', sans-serif;
}

.storyContent{
    width:90%;
    margin: 0 auto;
    padding-top:8em;
    padding-bottom:21em;
    color:white;
    display:flex;
}

.storyImage{
    display:flex;
    flex-direction:column;
}

.story{
    margin-top:2em;
    margin-left:9.3em;
}

.contenedorPhrase{
    width:70%;
    margin:0 auto;
    padding-bottom:11em;
    display:flex;
    justify-content:center;
    text-align:center;
}

.phraseSpan{
    color:#656464;
    font-size:1rem;
}

.contenedorWorkflow{
    width:90%;
    margin: 0 auto;
    padding-top:7em;
    padding-bottom:10em;
    display:flex;
    justify-content:space-between;
}

.pasos{
    padding-right:5em;
    margin-bottom:0.2em;
}

.paso{
    display:flex;
}

.contenedorProjects{
    width:65%;
    margin: 0 auto;
    padding-top:10em;
}

.project1{
    background-color:#232121;
    padding: 3em 3em 0 3em;
    border-radius:2rem;
    display:flex;
    margin-bottom:4em;
}

.project2{
    background-color:#EDEBE8;
    padding: 3em 3em 0 3em;
    border-radius:2rem;
    display:flex;
    margin-bottom:4em;
}

.page1{
    margin-left:3.5em;
}

.links1{
    display:flex;
    justify-content:space-between;
    padding-left:0.5em;
    padding-right:2.3em;
    padding-bottom:1.5em;
}

.links2{
    display:flex;
    justify-content:flex-start;
    padding-left:0.3em;
    padding-bottom:1.5em;
}

.bi-arrow-right{
    padding-top:0.1em;
    padding-left:0.5em;
}

.page2{
    margin-right:2.5em;
}

.skills{
    width:75%;
    margin: 0 auto;
}

.skillsContent{
    display:flex;
    justify-content:space-between;
    padding-top:8em;
    padding-right:1em;
    padding-bottom:25em;
}

.programs{
    display:flex;
    padding-top:1em;
}

.program{
    display:flex;
    align-items:center;
    padding: 3em 2em 3em 2em;
}

.skillsAdicional{
    padding-top:1.5em;
}

.contactsContent{
    width:80%;
    margin: 0 auto;
    text-align:center;
    padding-bottom:4em;
}

.contactLinks{
    padding-bottom:5em;
}

.finalLink{
    font-size:2rem;
    background-color: #f5f3f0;
    border:1px solid #656464;
    padding: 0.1em 0.1em 0 0.1em;
    border-radius:2.5rem;
    transition: background-color 0.5s,
                border 0.5s
                color 0.5s;
}

.footerContent{
    width:92%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    padding-bottom: 1em;
}

.copyrightSpan{
    font-size:0.9em;
    padding-right:0.3em;
}
/* Media Queries */

@media (max-width:1440px){
    .hero img{
        width:30em;
        margin-left:2.5em;
    }
    .hero h3{
        margin-right:1.6em;
    }
    .project1 img, .project2 img{
        width:22em;
        height:12em;
        border-bottom-left-radius:1em;
        border-bottom-right-radius:1em;
    }
    .hero{
        padding-top:9em;
        padding-bottom:8.5em;
    }
    .heroContent{
        width:100%;
        padding-top:3em;
    }
    .skills{
        width:88%;
    }
}

@media (max-width:1024px){
    .hero img{
        width:30em;
        height:24em;
        margin-top:4.5em;
    }
    .hero h1{
        font-size:6.8rem;
    }
    .hero h3{
        font-size:1.2rem;
        margin-right:1em;
    }
    .hero p{
        font-size:0.9rem;
    }
    .storyIntro img{
        width:20em;
    }
    .storyImage .hidden{
        display:flex;
        margin-top:3em;
    }
    .story p{
        font-size:0.9rem;
    }
    .phrase br{
        display:none;
    }
    .pasos hr{
        width:40em;
    }
    .paso p{
        font-size:1.4rem;
    }
    .paso h2{
        font-size:1.1rem;
    }
    .project1 img, .project2 img{
        width:28em;
        height:16em;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }
    .page1 p, .page2 p{
        margin-bottom:1.5em;
    }
    .programs img{
        width:6em;
    }
    .programs p{
        font-size:1.5rem;
    }
    .skillsAdicional h3{
        font-size:1.1rem;
    }
    .skillsAdicional p{
        padding-bottom:1em;
    }
    .nombre{
        margin-left:1em;
    }
    .hero{
        padding-top:7em;
    }
    .heroIntro{
        margin-top:0.5em;
    }
    .storyContent{
        padding-bottom:16em;
    }
    .story{
        margin-left:6em;
    }
    .contenedorPhrase{
        width:90%;
    }
    .contenedorWorkflow{
        width:95%;
        padding-top:5em;
        padding-bottom:8em;
    }
    .pasos{
        padding-right:0;
    }
    .contenedorProjects{
        width:80%;
    }
    .project1, .project2{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
    .project2{
        padding:1em 3em 2em 3em;
    }
    .page1, .page2{
        margin-top:1.5em;
        margin-left:0;
    }
    .page2{
        margin-right:0;
        margin-bottom:1.5em;
    }
    .links1{
        padding-right:0.5em;
    }
    .whitelink2{
        padding-bottom:0;
    }
    .links3{
        padding-left:19.8em;
    }
    .skills{
        width:80%;
    }
    .skillsImage{
        display:none;
    }
    .skillsContent{
        justify-content:center;
        text-align:center;
        padding-bottom:15em;
    }
    .skillsPrograms{
        padding-left:1em;
    }
    .contactsContent{
        width:85%;
    }
    .contactLinks a{
        font-size:1.6rem;
    }
}

@media (max-width:768px){
    /* header{
        width:100%;
    } */
    .hero img{
        display:none;
    }
    .hero h1{
        font-size:6.7rem;
    }
    .hero h3{
        font-size:1.7rem;
        margin-right:17em;
    }
    .exploreSection .hidden{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .storyIntro h2{
        width:12em;
        font-size:2.7rem;
    }
    .story h3{
        font-size:1.8rem;
        text-align:center;
        margin-bottom:1.5em;
    }
    .story p{
        font-size:1.1rem;
    }
    .myWorkflow img{
        display:none;
    }
    .myWorkflow h3{
        padding-bottom:2em;
    }
    .pasos hr{
        width:44.8em;
        margin-top:2em;
        margin-bottom:2em;
    }
    .project2 .hidden{
        display:flex;
        width:28em;
        height:16em;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }
    .project2 .bye{
        display:none;
    }
    .projects h4{
        margin-bottom:3em;
    }
    .contactLinks a{
        font-size:2rem;
        margin: 0.8em 0;
    }
    .menu{
        display:none;
    }
    .burger{
        display:flex;
        font-size:2rem;
        padding-right:0.5em;
    }
    .hero{
        padding-top:6em;
        padding-bottom:13em;
    }
    .storyImage{
        display:none;
    }
    .storyContent{
        flex-direction:column;
        align-items:center;
    }
    .story{
        margin-left:0;
    }
    .contenedorWorkflow{
        flex-direction:column;
        padding-bottom:4em;
    }
    .myWorkflow{
        text-align:center;
    }
    .paso{
        justify-content:center;
    }
    .contenedorProjects{
        padding-top:7em;
    }
    .project2{
        padding:3em 3em 0 3em;
    }
    .links3{
        padding-left:13.4em;
    }
    .skillsContent{
        padding-top:5em;
    }
    .contactLinks{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
}

@media (max-width:400px){
    .hero h1{
        font-size:3rem;
        margin-left:0.1em;
    }
    .hero h3{
        font-size:1rem;
        margin-right:13.3em;
    }
    .storyIntro h2{
        font-size:1.7rem;
        padding-bottom:2em;
    }
    .story p{
        font-size:0.9rem;
    }
    .contenedorPhrase h2{
        font-size:1.7rem;
    }
    .pasos hr{
        width:20.5em;
    }
    .paso h2{
        padding-top:0.1em;
        font-size:0.9rem;
    }
    .paso p{
        font-size:1.3rem;
        margin-right:0.7em;
    }
    .project1, .project2{
        padding:2em 3em 0 3em;
        border-radius:1rem;
    }
    .project1 img{
        width:16em;
        height:10em;
        border-top: 4px solid #656464;
        border-left:0;
        border-right: 4px solid #656464;
    }
    .project2 .hidden{
        width:16em;
        height:10em;
        border-top: 4px solid #CDCBCB;
        border-left:0;
        border-right: 4px solid #CDCBCB;
    }
    .page1 h2, .page2 h2{
        font-size:1.3rem;
    }
    .page1 h3, .page2 h3, .programs p{
        font-size:0.8rem;
    }
    .page1 p, .page2 p{
        font-size:0.7rem;
        text-align:start;
        line-height:1.5em;
    }
    .links1 .bi-arrow-right{
        padding-left:0.2em;
    }
    .skillsAdicional p{
        font-size:0.9rem;
    }
    .programs img{
        width:3.5em;
    }
    footer p{
        font-size:0.6rem;
    }
    .burger{
        padding-right:0.5em;
    }
    .hero{
        padding-top:5em;
        padding-bottom:5em;
    }
    .heroIntro{
        flex-direction:column;
    }
    .heroP{
        margin-top:2em;
        margin-right:0;
        margin-bottom:2em;
    }
    .story{
        padding-bottom:2em;
    }
    .contenedorPhrase{
        padding-bottom:10em;
    }
    .paso{
        justify-content:flex-start;
    }
    .links1{
        padding-left:0;
        padding-right:0;
    }
    .links3{
        padding-left:0;
    }
    .program{
        padding:3em 1em 3em 1em;
    }
    .skillsContent{
        padding-bottom:10em;
    }
}